@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
}

.container {
  box-shadow: 0px 0px 58px -5px rgba(0,0,0,0.58);
  max-width: 90%;
  margin: 100px auto 200px;
  background: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
}
input[type=text]{
  width:75%;
}
.entrada{
  margin-bottom: 15px;
  padding: .7em;
  border:1px solid #BDBDBD;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.adicionar{
  margin-left: auto;
  margin-right: auto;
  width: 98%;
}
button{
  cursor: pointer;
  box-sizing: border-box;
  width: 90px;
  padding: .7em;
  border: none;
  border-radius: 4px;
  color: white;
  opacity: 1;
  border: 2px solid var(--primary-color-darker) ;
  background-color: var(--primary-color);
}
button:hover{
  opacity: .89;
}

button.remover{
  width:90px;
  padding: .4em;
  border: 2px solid #c62828;
  background-color: #e53935;
}
.remover>i{
  margin-left: 10px;
}
.adicionar>i{
  margin-right: 10px;
}
.label-tarefa{
  display: flex;
  flex: row;
  justify-content: space-between;
  transition: .5s;
}
.checado{
  transition: .5s;
  color: #757575;
  text-decoration: line-through;
}
label, input{
  cursor: pointer;
}

input[type="checkbox"]{
  margin-top: .5em;
  margin-bottom:.5em;
  position: relative;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  background: #E0E0E0;
  outline: none;
  transition: .5s;
  border: 2px solid var(--primary-color-darker);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
  border-radius: 5px;
}
input:checked[type="checkbox"]{
  background: var(--primary-color); 
}

ul{
  padding-left: 0;
}
li{
  color: #212121;
  list-style: none;
  width: 100%;
  white-space: pre-line;
}
div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
li>button{
  float: right;
}
footer p{
  text-align: center;
  color: white;
  font-size: 12px;
}
footer a{
  color: white;
}
footer a:hover{
  opacity: .7;
}
small{
  color: #37474F;
  font-size: 11px;
  float: right;
}
@media screen and (min-width:500px){
  input[type=text]{
    width:55%;
  }
  .adicionar{
    width: 27%;
  }
}
@media screen and (min-width:600px){
  input[type=text]{
    width:50%;
  }
  .adicionar{
    width: 35%;
  }
}
@media screen and (min-width:700px){
  .container {
    max-width: 90%;
    padding: 30px;
  }
  ul{
    display: flex;
    flex-flow: row wrap;
    align-content: stretch;
    align-items: stretch;
  }
  li{
    margin-top: .5em;
    flex: 0 1 40%;
  }
  li:nth-child(even){
    margin-left: 3em;
  }
  .adicionar{
    width: 30%;
  }
}
@media screen and (min-width:900px){
  .container {
    max-width: 80%;
  }
  li{
    flex: 0 1 45%;
  }
  input[type=text]{
    width:40%;
  }
  .adicionar{
    width: 20%;
  }
}